# Frontend/Backend files/directories
.DS_Store
.idea/
*.iml
node_modules
npm-debug.log
*.sublime-project
*.sublime-workspace
.vs

# Environment definition
.env

# Data directory
data/*
!data/README.md

# Terraform files
.terraform
*.tfstate*
*.lock.hcl
